/* General Styles */
body {
    font-family: 'Johnston100', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    background-color: #0019a8; /* TfL blue */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid #ffdd00; /* TfL yellow */
}

/* Train Line Section Styling */
.line-section {
    background-color: white;  /* Resetting to white */
    border-left-width: 8px;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Line-Specific Color Themes */
.bakerloo {
    border-left-color: #B36305; /* Bakerloo Line Brown */
}

.central {
    border-left-color: #E32017; /* Central Line Red */
}

.circle {
    border-left-color: #FFD300; /* Circle Line Yellow */
}

.district {
    border-left-color: #00782A; /* District Line Green */
}

.hammersmith {
    border-left-color: #F3A9BB; /* Hammersmith & City Line Pink */
}

.jubilee {
    border-left-color: #A0A5A9; /* Jubilee Line Grey */
}

.metropolitan {
    border-left-color: #9B0056; /* Metropolitan Line Magenta */
}

.northern {
    border-left-color: #000000; /* Northern Line Black */
}

.piccadilly {
    border-left-color: #003688; /* Piccadilly Line Blue */
}

.victoria {
    border-left-color: #0098D4; /* Victoria Line Light Blue */
}

.waterloo {
    border-left-color: #95CDBA; /* Waterloo & City Line Turquoise */
}

/* Scrolling Banner */
.scrolling-banner {
    background-color: #ffdd00;
    color: #0019a8;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.scrolling-text {
    display: inline-block;
    animation: smoothScroll 10s linear infinite;
}

@keyframes smoothScroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Train Details */
.detail-view {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.service-status {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d9534f; /* Red for delays */
    margin-bottom: 1rem;
}

.platform-info {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.platform-info span {
    font-weight: bold;
}
